@model PIS.GIS.Models.Permohonan

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .sidebar-permohonan {
        min-height:100%;
    }
</style>

<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Sistem PIS<small>1.0</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Persempadanan</a></li>
                    <li class="breadcrumb-item active">Permohonan Baru</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar main-sidebar sidebar-dark-gray">
                    <nav class="mt-2">
                        <ul>
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    <p>Permohonan Baru</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <p>Status Permohonan</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- right column -->
                <div class="col-md-10">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Permohonan</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NamaPemohon, htmlAttributes: new { @for = "NamaPemohon" })
                                    @Html.EditorFor(model => model.NamaPemohon, new { htmlAttributes = new { @class = "form-control", placeholder = "Nama Pemohon" } })
                                    @Html.ValidationMessageFor(model => model.NamaPemohon, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Emel, htmlAttributes: new { @for = "Emel" })
                                    @Html.EditorFor(model => model.Emel, new { htmlAttributes = new { @class = "form-control", placeholder = "Emel" } })
                                    @Html.ValidationMessageFor(model => model.Emel, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IpdKontinjen, htmlAttributes: new { @for = "IpdKontinjen" })
                                    @Html.EditorFor(model => model.IpdKontinjen, new { htmlAttributes = new { @class = "form-control", placeholder = "IPD / Kontinjen" } })
                                    @Html.ValidationMessageFor(model => model.IpdKontinjen, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NamaCadangan, htmlAttributes: new { @for = "NamaCadangan" })
                                    @Html.EditorFor(model => model.NamaCadangan, new { htmlAttributes = new { @class = "form-control", placeholder = "Nama Cadangan" } })
                                    @Html.ValidationMessageFor(model => model.NamaCadangan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary">Baru</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>
