<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIS - @ViewBag.Title </title>

    @Styles.Render("~/Content/css")
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        @Html.Partial("_NavBar")

        <!-- Khairil buang sidebar 13/8/2020 -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/bundles/jvqmap")
    @Scripts.Render("~/bundles/knobchart")
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/tempusdominus")
    @Scripts.Render("~/bundles/summernote")
    @Scripts.Render("~/bundles/overlayscrollbar")
    @Scripts.Render("~/bundles/adminlte")
    @RenderSection("scripts", required: false)

</body>
</html>
