<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIS - @ViewBag.Title </title>

    @Styles.Render("~/Content/css")
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    @Html.Partial("_NavBar")
    @Html.Partial("_SideBar")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

</body>
</html>
